.input-style {
  border-radius: unset;
  height: 25px;
  padding-left: 5px;
}

.large-input-style {
  width: 600px;
}

.medium-input-style {
  width: 400px;
}

.card-body {
  font-size: 14px;
}

.clear-line {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin: 20px 0px;
}

.search-btn-box {
  margin-top: 10px;
  margin-right: 30px;
}

.search-btn-box div {
  border-radius: unset;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  font-size: 15px;
  background-color: gray;
  border: 0px;
  color: white;
  cursor: Pointer;
  text-align: center;
  padding-top: 4px;
  user-select: none;
  display: inline-block;
}

.common-btn {
  font-size: 15px;
  margin-left: 5px;
  padding: 2px 10px;
}

.search-btn-box div:active {
  background-color: dimgray;
}

.search-btn-box .btn-primary {
  background-color: #4b96e6;
}

.search-btn-box .btn-primary:active {
  background-color: #1979e0 !important;
}

#result-grid {
  margin-top: 50px;
  margin-bottom: 10px;
}
#total-count-badge {
  background-color: #4b96e6;
  color: white;
  margin-left: 5px;
}

#curtain {
  height: 100%;
  background-color: rgba(57, 102, 134, 0.2);
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.must:after {
  content: ' *';
  color: red;
  font-size: 15px
}


[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:after {
  transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 5px;

  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: absolute;
  width: 200px;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: 90%;

  content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
  top: 130%;
  left: 0;
  opacity: 1;
}

