.card {
  /*min-height: 500px;*/
}

.input-style {
  border-radius: unset;
  height: 25px;
  padding-left: 5px;
}

.large-input-style {
  width: 600px;
}

.medium-input-style {
  width: 400px;
}

.card-body {
  font-size: 14px;
}

.clear-line {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin: 20px 0px;
}

#result-grid {
  margin-top: 50px;
  margin-bottom: 10px;
}
#total-count-badge {
  background-color: #4b96e6;
  color: white;
  margin-left: 5px;
}

#curtain {
  height: 100%;
  background-color: rgba(57, 102, 134, 0.2);
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.must:after {
  content: ' *';
  color: red;
  font-size: 15px
}

#category-selector {
  width: 300px;
}


[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:after {
  transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 5px;

  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: absolute;
  width: 200px;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: 90%;

  content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
  top: 130%;
  left: 0;
  opacity: 1;
}

.cancel-line {
  text-decoration-line: line-through;
}

.vue-ordered > li {
  margin-top: 8px;
}

.disable-btn {
  background-color: lightgray;
  border: 0;
  pointer-events: none;
}

.content {
  min-height: 800px;
}
