.tui-tree-wrap {
  background-color: white;
  width: 100%;
}

.tui-tree-input {
  height: 32px;
  width: 250px;
  margin-left: 120px;
  margin-top: 1px;
}

.tui-tree-text {
  font-size: 15px;
}

.tui-tree-opened > .tui-tree-content-wrapper .tui-tree-text {
  font-weight: 600;
  color: #4b96e6;
}

.tui-tree-content-wrapper {
  padding-left: 20px !important;
}
