<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>Ela Admin - HTML5 Admin Template</title>
  <th:block th:insert="fragment/ela-style-sheets.html :: ela-style-sheets"/>

  <!--TUI grid-->
  <link rel="stylesheet" type="text/css" href="/lib/bower_components/tui-grid/dist/tui-grid.css" />
</head>

<body>
<!-- Left Panel -->
<th:block th:insert="fragment/left-panel.html :: left-panel(activeId = 'post')"/>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <th:block th:insert="fragment/header.html :: header"/>
  <!-- /#header -->

  <!-- Content -->
  <div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>포스트</strong> 리스트
            </div>
            <div class="card-body card-block">
              <div id="wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .animated -->
  </div>
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <th:block th:insert="fragment/footer.html :: footer"/>
  <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<th:block th:insert="fragment/ela-scripts.html :: ela-scripts"/>

<!--TUI grid-->
<script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
<script src="/lib/bower_components/underscore/underscore.js"></script>
<script src="/lib/bower_components/backbone/backbone.js"></script>
<script src="/lib/bower_components/tui-code-snippet/dist/tui-code-snippet.js"></script>
<script src="/lib/bower_components/tui-pagination/dist/tui-pagination.js"></script>
<script src="/lib/bower_components/tui-date-picker/dist/tui-date-picker.js"></script>
<script src="/lib/bower_components/tui-grid/dist/tui-grid.js"></script>

<!--Local Stuff-->
<script src="/js/common.js"></script>
<script src="/js/grid-column.js"></script>
<script src="/js/post-list.js"></script>

</body>
</html>
