<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>me registration</title>
</head>
<body>
<h1>프로필 설정</h1>
<div>
    이름 : <input type="text" id="name"/>
</div>

<div>
    이메일 : <input type="text" id="email"/>
</div>

기타정보 : <br>
introduce: 개개발 <br>
github: dodo4513@gmail.com <br>
naver: xavier@naver.com <br>
(하드코딩함)
<button class="action" data-action="register">등록</button>

<!--lib-->
<script src="/webjars/jquery/3.3.1-1/jquery.js"></script>

<!--my js-->
<script src="/js/common.js"></script>
<script src="/js/set-me.js"></script>

</body>
</html>


