<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>Ela Admin - HTML5 Admin Template</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/button.css"/>
  <link rel="stylesheet" type="text/css" href="/css/popup.css"/>
</head>

<body>
  <header>
    <div id="title"><strong>메인</strong> 타이틀</div>
  </header>
  <div id="contents">
    <div id="sub-title">서브 타이틀</div>
    <div id="content">
      <div>내용내용</div>
      </div>
  </div>
  <footer>
    <div class="btn-box text-center">
      <button type="button" class="cancel-btn large-btn action" data-action="cancel">닫기</button>
    </div>
  </footer>

  <script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
  <script src="/js/popup.js"></script>

</body>
</html>
